body {
	max-width: 100% !important;
	margin: auto;
}

/* used for things that should be hidden in the ui,
but useful for people who use screen readers */
.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
}

.toggle-all {
	width: 40px !important;
	height: 60px !important;
	right: auto !important;
}

.toggle-all-label {
	pointer-events: none;
}
.todoapp {
	margin: 130px !important;
}

/* add initial color and transition to todo list labels,
  referenced ul.todo-list to increase specificity */
ul.todo-list li label {
	color: #ff0000;
	animation: changeColor 15s ease-in both;
}
@keyframes changeColor {
	from {
		color: #ff0000;
	}
	to {
		color: #000000;
	}
}

.header-columns {
	display: grid;
	grid-template-columns: 1fr 250px 250px;
	gap: 4px;
}

#todo-input {
	text-align: left;
	justify-content: center;
	align-items: center;
}

.time-stamp {
	background: rgba(0, 0, 0, 0.003);
	font-style: italic;
	border-left: 1px solid lightgray;
	height: 65px;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: rgba(0, 0, 0, 0.4);
	font-size: 1.3rem;
	font-style: italic;
	font-weight: 400;
	line-height: 1.4em;
}

.view {
	display: grid;
	grid-template-columns: 1fr 250px 250px;
	gap: 4px;
}

.todo-content {
	position: relative;
}

.view .time-stamp {
	font-size: 1.2rem;
}

@media (width<=950px) {
	.view {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.header-columns {
		grid-template-columns: 1fr 1fr 1fr;
		word-wrap: break-word;
	}
}

ul.todo-list li label.last1 {
	color: green;
}

ul.todo-list li label.last2 {
	color: magenta;
}

ul.todo-list li label.last3 {
	color: yellow;
}
